{{ partial "header" . }}
    {{ $.Scratch.Set "shareNav" true }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main" class="home">
        
        <h1>Hi there! I'm Luc</h1>
        <p class="intro">
            I'm an independent developer, designer and speaker.
            I'm based in The Netherlands but I work with clients across the globe.
            I specialize in WordPress- and frontend development and <a href="/hire-me">am available for hire</a>
        </p>
        
        {{ range first 1 (where .Site.Pages "Type" "post") }}
        <!--<a class="last-post stat" href="{{ .RelPermalink }}">-->
            <a class="last-post stat" href="https://www.smashingmagazine.com/2018/06/wordpress-security-as-a-process/" target="_blank">
            <figure>
                {{ readFile "static/images/icons/paperclip.svg" | safeHTML }}
            </figure>
            <strong>Latest blogpost</strong>   
            <span>
                WordPress Security As a Process (Smashing Magazine)
            </span>
        </a>
        {{ end }}
        <!--<a class="upcomming-talk stat" href="/speaking">
            <figure>
                {{ readFile "static/images/icons/bullhorn.svg" | safeHTML }}
            </figure>
            <strong>Upcoming talk</strong>
            <span>
                March 24th 2018: WordCamp Rotterdam
            </span>
        </a>-->
        <a class="availability stat" href="/hire-me">
            <figure>
                {{ readFile "static/images/icons/clock.svg" | safeHTML }}
            </figure>
            <strong>Available for work</strong>
            <span>
                Starting in April, 2019
            </span>
        </a>


    </div>
{{ partial "footer" . }}
