<header>
    <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    <p class="lead">
        Independent developer &amp; designer. Open source lover, dad, linux user and barbecue fan
    </p>
</header>

<nav class="sidebar-nav" role="nav">
    <a href="/">Home</a>
    {{ range .Site.Menus.main }}
        <a href="{{.URL}}"> {{ .Name }} </a>
    {{end}}
</nav>

<aside class="cta">
    <strong>Currently available for hire. <a href="mailto:luc@chefduweb.nlg">Let me know how I can help</a></strong>
</aside>
