body{
    background: linear-gradient( to right, $orange 0%, $red 100%); 
    font-family: Tahoma, 'Lucida Grande', Verdana, sans-serif;
    color: $black;
    font-size: 20px;
    line-height: 140%;
    padding: 0;
    margin: 0;
}

#main{
    width: 90%;
    max-width: 650px;
    margin: 50px auto;
}
