:root {
  --num-start: 280;
  --num-end:   40;
  --grad-start:  hsl(var(--num-start), 70%, 95%);
  --grad-end:    hsl(var(--num-end), 70%, 75%);
  --link-color: hsl(var(--num-end), 90%, 30%);
  
  --logo1: hsl(var(--num-end), 70%, 50% );
  --logo2: hsl(var(--num-end), 50%, 40% );
  --logo3: hsl(var(--num-end), 30%, 30% );
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: helvetica, sans-serif;
}

h1, h1 a {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
}

p, time, a {
    font-size: 1.8rem;
}

.site {
    display: grid;
    padding: 3rem 15rem 3rem 3rem;
    background: transparent;
    grid-template-columns: 36rem 50px 1fr;
    grid-template-rows: 15rem 30rem 1fr auto;
    grid-template-areas:  "header gutter content" 
                        "nav gutter content" 
                        "cta gutter content" 
                        "footer gutter content";
}

.bg {
    background: linear-gradient(135deg, var(--grad-start), var(--grad-end));
    width: 100%;
    height: 100%;
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
}

.frame {
    position: fixed;
    width: 100vw;
    height: 100vh;
    border: 20px solid white;
    background: transparent;
    box-sizing: border-box;
    pointer-events: none;
}

header {
grid-area: header; }

.sidebar-nav {
grid-area: nav; }

aside {
grid-area: cta; }

footer {
grid-area: footer; }

.content {
grid-area: content; }
