#main.home{
                          
    img{
        display: none;
    }

    h1{
        font-size: 3.5em;
        color: $black;
    }

    .intro{
        font-size: 1em;
        color: rgba(0,0,0,.6);
        padding-bottom: 2em;
        a{
            color: $red;
            &:hover{
                color: $blue;
            }
        }
    }

    .stat{
        text-decoration: none;
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        figure{
            grid-area: icon;
            align-self: center;
            text-align: center;
            height: 60px;
            width: 60px;
            line-height: 60px;
            vertical-align: middle;

            svg{
                margin: 10% 0 0 -10%;
                width: 80%;
                height: 80%;
            }
        }

        strong{
            grid-area: label;
            font-weight: 700;
            color: $black;
            font-family: 'Alegreya';
            font-style: italic;
            padding: 0 15px;
        }

        span{
            grid-area: link;
            color: #888;
            font-size: 1.2rem;
            line-height: 180%;
            font-weight: 100;
            flex: 1 0 100%;
            padding-top: 5px;
        }

        &:hover{
            transform: rotate3d(0, 0, 0, 0);
            background: $red;

            figure svg path{
                fill: white;
            }
            
            strong, span{
                color: white;
            }
        }
    }
}

@media only screen and ( min-width: 550px ){
    #main.home{
        .stat span{
            flex: auto;
            padding-left: 0;
        }
    }   
}


@media only screen and (min-width: 1100px){
    #main.home{
        max-width: 40%;
        margin-left: auto;
        margin-right: auto;
        display: grid;

        grid-template-columns: 1fr 1fr;
        grid-template-areas:    "title title"
                                "intro intro"
                                "post post"
                                "speak speak"
                                "av av";

        h1{
            grid-area: title;
        }

        .intro{
            grid-area: intro;
            max-width: 100%;
        }

        .stat{
            align-self: flex-end;
            display: grid;
            grid-template-columns: 60px 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "icon label"
                                "icon link";

            border-bottom: 3px solid $black;
            padding: 20px 0;

            &:last-of-type{
                border-bottom: 0;
            }

            figure{
                height: auto;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                svg{
                    margin: 0 0 0 -10px;
                    width: 60%;
                    height: 60%;
                }
            }

            strong{
                padding: 0;
                color: $black;
                font-size: 2rem;
            }

            &.last-post{ grid-area: post; }
            &.upcomming-talk{ grid-area: speak; }
            &.availability{ grid-area: av; }
        }
    }
}